<div id="main">
    <% @colors = ["red", "yellow", "blue"] %>
    <% @colors.each do |color| %>
    <%=  color %>
    <% end %>
  </div>


<%= link_to "テスト",'http://ort.samubuc.co.jp/orientation-agenda/170_Rails/01_agenda/03_view_agenda.html' %>

